body { padding:0; margin:0; }

/* Header Styles */
#header {
	width: 100%;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

#header a {
	text-decoration: none;
	font-family: Calibri, sans-serif;
	color: #888;
}

#header ul { padding: 0; margin: 0; }

#searchBar {
	padding: 0; margin: 0;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: #f9f9f9;
}

#searchBar ul li {
	display: inline-block;
	padding: 10px;
	margin: 10px 20px 0 20px;

}

#searchBar ul li:first-child {
	margin-left: 10px;
}

#searchBar ul li img:first-child {
	height: 40px;
	width: 40px;
	margin-top: -10px;
}

#searchBar ul li:nth-child(2) {
	margin-left: 0;
	padding-left: 0;
	margin-top: 5px;
	width: 30%;
}

#searchInputs {
	border: 1px solid #e0e0e0;
	background-color: #fff;
}

#searchInputs input {
	border: none;
	outline: none;
	font-size: 18px;
}

#typeTabs { 
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #f1f1f1;
}

#typeTabs ul li {
	display: inline-block;
	padding: 15px;
}

#typeTabs ul li:first-child {
	margin-left: 5%;
	border-bottom: 2px solid #f00;
}

#typeTabs ul li a {
	color: #888;
}

#typeTabs ul li:first-child a {
	font-weight: bold;
	color: #f00;
}

#typeTabs ul li:hover {
	border-bottom: 2px solid red;
}
/* Body Styles */
#results {
	margin-left: 5%;
	font-family: Calibri, sans-serif;
}

#resultInfo {
	padding-top: 20px;
	width: 30%;
	border-bottom: 1px solid #ddd;
}

#resultInfo .timer {
	font-size: 14px;
	color: #aaa;
}

#resultInfo .dym {
	font-size: 18px;
	color: red;
}

#resultInfo .dym a {
	text-decoration: none;
}

#resultList {
	padding: 20px 0;
	font-size: 14px;
}

#resultList .result {
	width: 30%;
}

#resultList .result .title {
	font-size: 20px;
	font-weight: bold;
}

#resultList .result .title a{
	text-decoration: none;
}

#resultList .result .title a:hover {
	text-decoration: underline;
}

#resultList .result .url {
	color: #0c0;
}

#relatedSearches {
	width: 30%;
	padding: 20px 0;
	border-top: 1px solid #ddd;
}

#relatedSearches span {
	font-size: 18px;
	color: #ccc;
}
#relatedSearches ul { padding-left: 0; }
#relatedSearches ul li { list-style-type: none; }

#relatedSearches ul li a {
	text-decoration: none;
}

/* Footer Styles */
#footer {
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f9f9f9;
	border-top: 1px solid #f1f1f1;
}

#footer ul { padding: 0; margin: 0; }

#footer ul li {
	display: inline-block;
	margin: 10px;
}

#footer ul li a {
	text-decoration: none;
	color: #888;
	font-family: Calibri, sans-serif;
	font-size: 14px;
}

/* Non-specific Styles */
.left  { float: left;  }
.right { float: right; }

/* Iconography */
.icon { background-image: url(img/icon_map.png); }

.icons_3x3_dark {
	background-size: 333px 147px;
	-webkit-background-size: 333px 147px;
	background-position: -35px -105px;
	display: inline-block;
	height: 30px; width: 30px;
}